
.screenshot {
	display: block;
}

code,
kbd,
samp
{
    font-family: monospace,monospace;font-size: 1em;
}

.padding-5 {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.section {
	margin-top: 10px;
}

.meta {
	display: none;
}



/* for future use */
/*
.story {

}

.actions {

}

.relatedList {

}

.actions {

}
*/
