
a
{
	background-color: transparent;
	webkit-text-decoration-skip: objects;
}
a:active,
a:hover
{
	outline-width: 0;
}
abbr[title]
{
	border-bottom: none;
	text-decoration: underline dotted;
	text-decoration: underline;
	webkit-text-decoration: underline dotted;
}
article,
aside,
footer,
header,
nav,
section
{
	display: block;
}
audio,
video
{
	display: inline-block;
}
audio:not([controls])
{
	display: none;
	height: 0;
}
b,
strong
{
	font-weight: inherit;
}
b,
strong
{
	font-weight: bolder;
}
body
{
	margin: 0;
}
body
{
	background: #fff;
	color: #333;
	font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	moz-osx-font-smoothing: grayscale;
	padding: 0;
	webkit-font-smoothing: antialiased;
}
button
{
	overflow: visible;
}
button
{
	appearance: none;
	background: 0 0;
	border: 0;
	border-radius: 0;
	cursor: auto;
	line-height: 1;
	moz-appearance: none;
	padding: 0;
	webkit-appearance: none;
}
button,
input,
optgroup,
select,
textarea
{
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
select
{
	text-transform: none;
}
canvas
{
	display: inline-block;
}
code,
kbd,
samp
{
	font-family: monospace,monospace;
	font-size: 1em;
}
details
{
	display: block;
}
dfn
{
	font-style: italic;
}
fieldset
{
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
figcaption,
figure
{
	display: block;
}
figure
{
	margin: 1em 40px;
}
h1
{
	font-size: 2em;
	margin: .67em 0;
}
hr
{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	webkit-box-sizing: content-box;
}
html
{
	font-family: sans-serif;
	line-height: 1.15;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
html
{
	box-sizing: border-box;
	font-size: 100%;
	webkit-box-sizing: border-box;
}
img
{
	display: inline-block;
	height: auto;
	max-width: 100%;
	ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
img
{
	border-style: none;
}
input
{
	overflow: visible;
}
legend
{
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	webkit-box-sizing: border-box;
	white-space: normal;
}
main
{
	display: block;
}
mark
{
	background-color: #ff0;
	color: #000;
}
menu
{
	display: block;
}
pre
{
	font-family: monospace,monospace;
	font-size: 1em;
}
progress
{
	display: inline-block;
	vertical-align: baseline;
}
select
{
	border-radius: 0;
	box-sizing: border-box;
	webkit-box-sizing: border-box;
	width: 100%;
}
small
{
	font-size: 80%;
}
sub
{
	bottom: -.25em;
}
sub,
sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
summary
{
	display: list-item;
}
sup
{
	top: -.5em;
}
svg:not(:root)
{
	overflow: hidden;
}
template
{
	display: none;
}
textarea
{
	overflow: auto;
}
textarea
{
	border-radius: 0;
	height: auto;
	min-height: 50px;
}
